body {
  background-image: url("./talons.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.containa {
  max-width: 800px;
  margin: 50px auto;
  background-color: #6ed2dd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
